In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [5]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
df["day"].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [7]:
df["total_bill"].mean()

np.float64(19.78594262295082)

In [8]:
df.groupby("day")["tip"].mean()

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

In [9]:
# Answers;
## There are 4 rows, the day with the highest average tip is Sunday and it is surprising how high it is on that day

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")

In [12]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [13]:
df.isnull().mean()

total_bill    0.0
tip           0.0
sex           0.0
smoker        0.0
day           0.0
time          0.0
size          0.0
dtype: float64

In [14]:
df_drop = df.dropna()

In [15]:
df_fill = df.fillna(0)

In [16]:
#Drop or fill missing rows depending on scenario.

In [17]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [18]:
df = df.rename(columns={"total_bill": "total_bill_gbp"})

In [19]:
df.head()

   total_bill_gbp   tip     sex smoker  day    time  size
0           16.99  1.01  Female     No  Sun  Dinner     2
1           10.34  1.66    Male     No  Sun  Dinner     3
2           21.01  3.50    Male     No  Sun  Dinner     3
3           23.68  3.31    Male     No  Sun  Dinner     2
4           24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_bill_gbp  244 non-null    float64
 1   tip             244 non-null    float64
 2   sex             244 non-null    object
 3   smoker          244 non-null    object
 4   day             244 non-null    object
 5   time            244 non-null    object
 6   size            244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [21]:
df.describe()

       total_bill_gbp         tip        size
count      244.000000  244.000000  244.000000
mean        19.785943    2.998279    2.569672
std          8.902412    1.383638    0.951100
min          3.070000    1.000000    1.000000
25%         13.347500    2.000000    2.000000
50%         17.795000    2.900000    2.000000
75%         24.127500    3.562500    3.000000
max         50.810000   10.000000    6.000000

In [22]:
## Data Cleaning summary
### Performed checks to investigate the presence of missing values. Changed the name of total bill to total bill gbp. These steps matter because it allows us to make corrections/changes in our data

In [23]:
## Day 3 - Filtering, Sorting and Analysis

In [24]:
# Only dinner records

In [25]:
df_dinner = df[df["time"] == "Dinner"]

In [26]:
df_dinner.head()

   total_bill_gbp   tip     sex smoker  day    time  size
0           16.99  1.01  Female     No  Sun  Dinner     2
1           10.34  1.66    Male     No  Sun  Dinner     3
2           21.01  3.50    Male     No  Sun  Dinner     3
3           23.68  3.31    Male     No  Sun  Dinner     2
4           24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
df_dinner.shape

(176, 7)

In [28]:
len(df_dinner)

176

In [29]:
## There are 176 dinner records, more than expected

In [30]:
# Dinner and Smoker

In [31]:
df_dinner_smokers = df[(df["time"] == "Dinner") & (df["smoker"] == "Yes")]

In [32]:
df_dinner_smokers.head()

    total_bill_gbp   tip   sex smoker  day    time  size
56           38.01  3.00  Male    Yes  Sat  Dinner     4
58           11.24  1.76  Male    Yes  Sat  Dinner     2
60           20.29  3.21  Male    Yes  Sat  Dinner     2
61           13.81  2.00  Male    Yes  Sat  Dinner     2
62           11.02  1.98  Male    Yes  Sat  Dinner     2

In [33]:
df_dinner_smokers.shape

(70, 7)

In [34]:
## This seems a small subset. Not sure why it would matter

In [35]:
# Highest total bills

In [36]:
df.sort_values(by="total_bill_gbp", ascending=False).head()

     total_bill_gbp    tip   sex smoker  day    time  size
170           50.81  10.00  Male    Yes  Sat  Dinner     3
212           48.33   9.00  Male     No  Sat  Dinner     4
59            48.27   6.73  Male     No  Sat  Dinner     4
156           48.17   5.00  Male     No  Sun  Dinner     6
182           45.35   3.50  Male    Yes  Sun  Dinner     3

In [37]:
df.sort_values(by="tip", ascending=False).head()

     total_bill_gbp    tip   sex smoker   day    time  size
170           50.81  10.00  Male    Yes   Sat  Dinner     3
212           48.33   9.00  Male     No   Sat  Dinner     4
23            39.42   7.58  Male     No   Sat  Dinner     4
59            48.27   6.73  Male     No   Sat  Dinner     4
141           34.30   6.70  Male     No  Thur   Lunch     6

In [38]:
## The highest bills do not always result in the highest tips

In [39]:
df.groupby("day")["total_bill_gbp"].mean()

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill_gbp, dtype: float64

In [40]:
## Sunday has the highest average bill

In [41]:
df.groupby("smoker")["tip"].mean()

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

In [42]:
## Smokers tip more on average

In [43]:
df.groupby("size")["tip"].mean()

size
1    1.437500
2    2.582308
3    3.393158
4    4.135405
5    4.028000
6    5.225000
Name: tip, dtype: float64

In [44]:
## The bigger the group size, the greater the mean tip

In [45]:
## Day 4 - Grouping and Aggregation

In [46]:
# Average bill by day

In [47]:
df.groupby("day")["total_bill_gbp"].mean()

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill_gbp, dtype: float64

In [48]:
# Average tip by time

In [49]:
df.groupby("time")["tip"].mean()

time
Dinner    3.102670
Lunch     2.728088
Name: tip, dtype: float64

In [50]:
## Sunday has the highest average total bill. Dinner is more profitable tipping wise

In [51]:
df.groupby("day").agg(
    avg_bill=("total_bill_gbp", "mean"),
    avg_tip=("tip", "mean"),
    count=("total_bill_gbp", "count")
)

       avg_bill   avg_tip  count
day
Fri   17.151579  2.734737     19
Sat   20.441379  2.993103     87
Sun   21.410000  3.255132     76
Thur  17.682742  2.771452     62

In [52]:
## Count is important as it allows us to study which days are busiest. Saturday looks the most reliable as it yields the greatest earinings

In [53]:
df.groupby(["day", "time"])["total_bill_gbp"].mean()

day   time
Fri   Dinner    19.663333
      Lunch     12.845714
Sat   Dinner    20.441379
Sun   Dinner    21.410000
Thur  Dinner    18.780000
      Lunch     17.664754
Name: total_bill_gbp, dtype: float64

In [54]:
df.groupby(["day", "smoker"])["tip"].mean()

day   smoker
Fri   No        2.812500
      Yes       2.714000
Sat   No        3.102889
      Yes       2.875476
Sun   No        3.167895
      Yes       3.516842
Thur  No        2.673778
      Yes       3.030000
Name: tip, dtype: float64

In [55]:
## Significantly lower mean bills during lunchtime friday compares to every other time. I would ask smoker average bills grouped by day and time

In [56]:
## Day 5 - Week 1 Mini Analysis

In [57]:
### Analysis Questions

In [58]:
### 1. Which day generates the highest average bill?

In [60]:
df.groupby("day")["total_bill_gbp"].mean()

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill_gbp, dtype: float64

In [61]:
### Sunday is the day with the highest average bill

In [62]:
### 2. Do smokers tip more than non-smokers?

In [64]:
df.groupby(["day", "smoker"])["tip"].mean()

day   smoker
Fri   No        2.812500
      Yes       2.714000
Sat   No        3.102889
      Yes       2.875476
Sun   No        3.167895
      Yes       3.516842
Thur  No        2.673778
      Yes       3.030000
Name: tip, dtype: float64

In [65]:
### Yes, on average smokers tip more

In [66]:
### 3. Does group size affect tipping?

In [72]:
df.groupby("size")["tip"].mean()

size
1    1.437500
2    2.582308
3    3.393158
4    4.135405
5    4.028000
6    5.225000
Name: tip, dtype: float64

In [68]:
### On average, the higher the group size, the greater the (average) tip

In [70]:
### 4. Is dinner more profitable than lunch?

In [71]:
df.groupby(["day", "time"])["total_bill_gbp"].mean()

day   time
Fri   Dinner    19.663333
      Lunch     12.845714
Sat   Dinner    20.441379
Sun   Dinner    21.410000
Thur  Dinner    18.780000
      Lunch     17.664754
Name: total_bill_gbp, dtype: float64

In [ ]:
### The data we have supports the idea that dinner is on average more profitable than lunch, however we dont have the total bill for saturday or sunday lunch so we dont have enough to comapre